body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./img/bg.jpeg);
    background-size: cover;
}
#error {
    color: red;
}

/*DASHBOARD*/
.container {
    margin: auto;
    width: 70%;
}
#options {
    text-align: center;
    border: 1px solid red;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
/*PETS*/
#div_container_pets {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    width: 50%;
    margin-left: 20%;
}
#div_result_pets {
    border: 1px solid red;
    padding: 20px;
}
/*CUSTOMERS*/
#div_container_customers {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    width: 50%;
    margin-left: 20%;
}
#div_result_customers {
    border: 1px solid red;
    padding: 20px;
}

/*ADMIN SIGN UP*/
/*HOME */
#siteinfo {
    background-color: rgba(0,0,0,0.5);
}
/*LOGIN */

/*TRANSACTION*/
#div_search_transaction {
    display: inline-block;
    border: 1px solid red;
    padding: 10px;
    width: 55%;
    margin: 10px;
    vertical-align: top;
}
#div_result_txn {
    border: 1px solid red;
    padding: 20px;
}